<app-video-list
    [videos]="videos$ | async"
    [selectedVideo]="selectedVideo"
    (videoSelected)="onVideoSelected($event)"
></app-video-list>
<app-video-player
    [selectedVideo]="selectedVideo"
></app-video-player>
<app-stat-filters></app-stat-filters>
