body {
  font-family: Helvetica, Arial, sans-serif;
}

// Make it easier to see component boundaries
// during development.
app-video-dashboard,
app-video-card,
app-video-list,
app-video-player,
app-stat-filters {
  display: block;
  margin: 10px;
  border-radius: 10px;
  border: 3px solid lightblue;
}

